/* 1.header
/* 2.body
/* 3.footer*/

/* 0. global*/

body {
	margin:0px;
	padding:0px;
}
/* 1.header*/

#header {
	border: 1px solid grey;
	border-radius: 3px;
    display:flex;
    position: relative;
    text-align: center;
	background-color: beige;
	padding:10px;

    justify-content: center;
}
#header a {
    position: relative;
    text-align: center;
    text-decoration: none;
    margin: 20px;
    padding: 5px;
    flex-direction: column;
    color: black;

}
#nav {
	border: 1px solid grey;
    border-radius: 3px;
	display: flex;
	text-align: center;
	justify-content: center;
	background-color: beige;
	border-radius: 3px;
}
#nav-wrapper ul {
	display: flex;
	list-style-type: none;
	justify-content: space-between;
    flex-wrap: wrap;
	text-align: center;
	padding: 15px;
	margin: 0;
	overflow:hidden;
}
#nav-wrapper li {
	float: left;
}
#nav-wrapper a:link, a:visited {
	border: 1px solid grey;
    border-radius: 3px;
	color: black;
	padding: 4px;
	margin: 10px;
	display: flex;
    text-decoration: none;
	font-size: 20px;
}
.col-12 {
	width: 100;
}
/* 2.body*/

.wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
}
.wrapper>* {
	border: 1 px solid grey;
    border-radius: 3px;
	flex: 1 100%;
}
@media all and (min-width: 400px) {
	.aside {
		flex: 1 0 0;
	}
}
@media screen and (min-width: 800px) {
	.main {
		flex: 3 0 0;
	}
}
@media screen and (min-width: 1200px) {}
a.hover {
	background-color: black;
}
h2 {
	border: 1px solid grey;
	border-radius: 3px;
	background-color: #dcedc8;
    font-size: 25px;
	text-align: center;
	margin: 0;
	padding: 10px;
}
p {
	border: 1px solid grey;
    border-radius: 3px;
    position: relative;
	padding: 20px;
	margin: 1px;
	font-size: 20px;
}
#main {
	border: 1px solid grey;
    border-radius: 3px;
	display: flex;
	flex-wrap: wrap;
    flex-direction: column;
}
#main ul {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
#main li {
	border: 1px solid grey;
    border-radius: 3px;
    flex-wrap: wrap;
    flex-direction: column;
	list-style-type: none;
	margin: 5px;
}
#aside {
	border: 1px solid grey;
    border-radius: 3px;
    display: flex;
	font-size: 20px;
}
#aside a {
    text-decoration: none;
}
#aside-left {
	border: 1px solid grey;
    border-radius: 3px;
	padding: 20px;
	font-size: 20px;
	display: flex;
	text-align: center;
    flex-direction:column;
}
#aside-rigt {
	border: 1px solid grey;
    border-radius: 3px;
	display: flex;
	flex-direction:column;
	text-align: right;
}
#aside-center {
	border: 1px solid grey;
    border-radius: 3px;
	padding: 20px;
	display: flex;
	flex-direction:column;
	text-align: center;
	font-size: 20px;
}
#form {
	border: 1px solid grey;
    border-radius: 3px;
    width: 300px;
	display: flex;
    overflow: hidden;
    flex-flow: column;
}
.col-3 {
    width: 33%;
}
.col-6 {
    width: 66%;
}
.col-12 {
    width: 100%;
}

/* 3.footer*/

#footer {
	border: 1px solid grey;

    border-radius: 3px;
	overflow: hidden;
	background-color: #c8e6c9;
	font-size: 20px;
	display: flex;
	flex-flow: column;
}

.col-12 {
	width: 100%;
}
.col- 6 {
    width: 66%;

}
.col-3 {
    width: 33%;
}

.copyright {
	text-align: right;
}
